
@{
    ViewBag.Title = "ViewResultMethod";
    //displaying the value of  viebag object 
    /*multiline comment
    line2
    line3*/
}

<h2>ViewResultMethod of Demo Controller</h2>

<p>This is to show ViewResult Action Method</p>
@*
   //Razor syntax comments are to be enclosed within @*  
    

*@
