<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq_to_Sql.Properties.Settings.ZensarDBConnectionString"
            connectionString="Data Source=DESKTOP-PU8R89M\BRSQL;Initial Catalog=ZensarDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq_to_Sql.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-PU8R89M\BRSQL;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>